md-button.md-primary.md-hue-1 md-no-ink="" ui-sref="discussions.index"
  .IconClose
  |  cancel

md-button.md-raised.md-warn md-no-ink="" ng-disabled="!form.$valid" ui-sref="discussions.edit.step2" next step
