$cardList-minHeight-card: 62px

.CardList

.CardList-label
  display: none

.CardList-card
  margin: 0 0 1px 0

.CardList.CardList--withAnimation
  $animated-discussions: 30

  @for $i from 1 through $animated-discussions
    .CardList-card:nth-child(#{$i})
      transform: translateX(0)
      backface-visibility: hidden
      perspective: 0

      animation-delay: $i * 0.05s
      animation-duration: 0.7s
      animation-fill-mode: both
      animation-timing-function: ease-out

      &.ng-enter
        transform: translateX(-1000px)

      &.ng-enter-active
        animation-name: bounceInLeft

@media only screen and (min-width : 640px)
  .CardList-label
    @include gamma
    display: block
    margin-bottom: $default-spacing / 2
    text-transform: uppercase

  .CardList-card
    display: flex
    flex-direction: column
    min-height: $cardList-minHeight-card
    margin: 0 0 $default-spacing / 2 0

    background-color: theme-palette(neutral, white)
