.Comment
  flex-direction: column
  display: flex
  background-color: theme-palette(neutral, white)

.Comment-header
  display: flex

.Comment-author
  @include gamma
  flex-grow: 1
  align-self: center
  color: theme-palette(accent-secondary)

.Comment-time
  @include delta
  flex-grow: 1
  align-self: center
  color: theme-palette(primary, light)
  text-align: right

.Comment-body
  @include beta
  color: theme-palette(primary, dark)

.Comment-buttons
  @include gamma
