.DetailedDiscussion
  background: theme-palette(neutral, white)

.DetailedDiscussion-title
  @include alpha

.DetailedDiscussion-body
  @include beta

.DetailedDiscussion-author
  @include beta
  color: theme-palette(accent-secondary)
  text-transform: uppercase

.DetailedDiscussion-time
  @include gamma
  color: theme-palette(primary, light)
  text-transform: uppercase

.DetailedDiscussion-commentCount
  @include gamma
  text-transform: uppercase
