$discussion-item-triangle-size: 40px

.DiscussionItem
  position: relative
  display: flex
  flex-direction: column
  min-height: 62px
  background-color: theme-palette(neutral, white)
  cursor: pointer
  padding-right: $discussion-item-triangle-size

.DiscussionItem:before
  background-color: theme-palette(neutral, white)
  content: " "
  height: 100%
  left: 0
  position: absolute
  top: 0
  transition: all 0.5s ease-in-out
  width: 100%
  z-index: -1

.DiscussionItem.is-expanded:before
  transform: scaleX(3) scaleY(30)
  z-index: 9999

.DiscussionItem-title
  @include beta
  flex-grow: 1
  color: theme-palette(primary, dark)
  font-weight: bold

.DiscussionItem-subtitle
  @include gamma
  flex-grow: 1
  color: theme-palette(primary)

.DiscussionItem-commentsCount
  @include delta
  position: absolute
  bottom: 0
  right: 0
  z-index: 55
  height: 17px
  padding-right: 5px
  color: theme-palette(neutral, white)
  text-align: right

.DiscussionItem-commentsCount:before
  content: ''
  position: absolute
  right: 0
  bottom: 0
  z-index: -1
  width: 0
  height: 0
  border-style: solid
  border-width: 0 0 $discussion-item-triangle-size $discussion-item-triangle-size
  border-color: transparent

.DiscussionItem.DiscussionItem--read,
.DiscussionItem.DiscussionItem--unwatched
  .DiscussionItem-commentsCount:before
    border-bottom-color: theme-palette(primary)

.DiscussionItem.DiscussionItem--new
  .DiscussionItem-commentsCount:before
    border-bottom-color: theme-palette(accent-secondary)

.DiscussionItem.DiscussionItem--unread
  .DiscussionItem-commentsCount:before
    border-bottom-color: theme-palette(accent-primary)
