.Discussion
  min-height: 100vh
  background: theme-palette(primary, light)

.Discussion-topBar
  display: flex
  justify-content: space-between
  align-items: center
  padding: $default-spacing
  background: theme-palette(neutral, white)

.Discussion-description
  padding: 0 $default-spacing $default-spacing
  background: theme-palette(neutral, white)

.Discussion-title
  @include alpha

.Discussion-body
  @include beta

  p
    line-height: 1.4

  a
    color: theme-palette(accent-secondary)

.Discussion-author
  @include beta
  color: theme-palette(accent-secondary)

.Discussion-date
  @include delta
  color: theme-palette(primary, light)
  text-transform: uppercase

.Discussion-comments
  padding: 0 $default-spacing $default-spacing

.Discussion-commentsCount
  @include gamma
  color: theme-palette(primary, base)
  text-transform: uppercase

.Discussion-newComment
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  padding: $default-spacing
  background: theme-palette(neutral, white)
  transform: translate(0, 100%)
  transition: transform 0.4s ease-in-out 0s

.Discussion-newComment--active
  transform: translate(0, 0)
