$discussion-marker-border-width: 3px

.Discussion
  position: relative
  display: flex
  flex-direction: column
  min-height: 62px
  background-color: theme-palette(neutral, white)
  cursor: pointer

  &:hover
    .Discussion-commenterMarker
      border-width: $discussion-marker-border-width*2

    .Discussion-commenterLabel
      transform: translateX(0)

.Discussion-link
  text-decoration: none

.Discussion-title
  @include beta
  flex-grow: 1
  color: theme-palette(primary, dark)
  font-weight: bold

.Discussion-subtitle
  @include gamma
  flex-grow: 1
  color: theme-palette(primary)

.Discussion-commenters
  position: absolute
  top: 0
  right: 100%
  bottom: 0

  overflow: hidden

.Discussion-commenter
  display: flex
  justify-content: flex-end

  & + &
    margin-top: 1px

.Discussion-commenterMarker
  z-index: 2

  border-right: $discussion-marker-border-width solid
  transition: border-width 0.5s ease-in-out

.Discussion-commenterLabel
  @include delta

  flex: 1

  padding: 0 $discussion-marker-border-width 0 2*$discussion-marker-border-width

  background-color: theme-palette(neutral, white)

  font-weight: bold
  text-align: right
  text-transform: uppercase
  white-space: nowrap

  transform: translateX(calc(#{$discussion-marker-border-width} + 100%))
  transition: transform 0.5s ease-in-out

.Discussion-info
  position: absolute
  top: 0
  bottom: 0
  left: 100%

  display: flex
  flex-direction: column
  align-items: flex-start

.Discussion-author
  @include gamma

  border-left: 2*$discussion-marker-border-width solid
  padding: 3px 6px

  background-color: theme-palette(neutral, white)

  font-weight: bold
  text-transform: uppercase
  white-space: nowrap

.Discussion-commentsCount
  @include delta
  padding: 2px 4*$discussion-marker-border-width
  color: theme-palette(neutral, white)
  text-align: left

.Discussion-afterCommentsCount
  flex: 1
  border-left: $discussion-marker-border-width solid

.Discussion.Discussion--watching,
.Discussion.Discussion--watched
  .Discussion-commentsCount
    background-color: theme-palette(primary)
  .Discussion-afterCommentsCount
    border-color: theme-palette(primary)

.Discussion.Discussion--unwatched
  .Discussion-commentsCount
    background-color: theme-palette(accent-secondary)
  .Discussion-afterCommentsCount
    border-color: theme-palette(accent-secondary)

.Discussion.Discussion--unread
  .Discussion-commentsCount
    background-color: theme-palette(accent-primary)
  .Discussion-afterCommentsCount
    border-color: theme-palette(accent-primary)
