@font-face
  font-family: 'Council'
  src: url('/council.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@mixin fontCouncil($icon-unicode)
  font-family: 'Council'
  content: $icon-unicode

.IconNavigation,
.IconClose,
.IconAdd,
.IconLeft
  display: inline-block

.IconNavigation
  color: theme-palette(neutral, white)
  position: relative
  &:before
    @include fontCouncil("\e601")
    font-size: 30px

  .IconNavigation-count
    @include delta
    background-color: theme-palette(accent-primary)
    border-radius: 50%
    bottom: 0
    display: block
    height: 20px
    line-height: 20px
    position: absolute
    right: -35%
    text-align: center
    width: 20px

.IconClose:before
  @include fontCouncil("\e602")
  @include alpha

.IconAdd:before
  @include fontCouncil("\e600")
  color: theme-palette(neutral, white)

.IconLeft:before
  @include fontCouncil("\e604")
  @include alpha

.IconLogo:before
  @include fontCouncil("\e603")
  font-size: 30px
