.Page
  $main-color: theme-palette(primary, light)
  background-color: $main-color

  .Page-mainAction
    position: fixed
    bottom: $default-spacing
    right: $default-spacing
    z-index: 55

.Page.Page--white
  background-color: theme-palette(neutral, white)

.Page-item
  margin: $default-spacing
