.Sidebar
  z-index: 99999
  text-transform: uppercase

.Sidebar-links
  list-style-type: none
  margin: 0
  padding: 0

.Sidebar-item
  padding: 0 $default-spacing
  display: flex
  align-items: center
  height: 80px
  width: 100%
  border-bottom: 1px solid theme-palette(primary, base)

.Sidebar-item,
.Sidebar-itemInside
  color: theme-palette(accent-secondary, base)
  text-decoration: none
