/** Colors **/

$theme-color-material-amber-500: #ffc107;
$theme-color-material-amber-600: #ffb300;
$theme-color-material-blue-grey-100: #cfd8dc;
$theme-color-material-blue-grey-500: #607d8b;
$theme-color-material-blue-grey-900: #263238;
$theme-color-material-teal-300: #4db6ac;
$theme-color-material-teal-500: #009688;
$theme-color-material-teal-600: #00897b;
$theme-color-material-white: #fff;

$theme-palettes: (
  neutral: (
    white: $theme-color-material-white
  ),
  primary: (
    base: $theme-color-material-blue-grey-500,
    light: $theme-color-material-blue-grey-100,
    dark: $theme-color-material-blue-grey-900
  ),
  accent-primary: (
    base:  $theme-color-material-amber-500,
    dark: $theme-color-material-amber-600
  ),
  accent-secondary: (
    base:  $theme-color-material-teal-500,
    light: $theme-color-material-teal-300,
    dark: $theme-color-material-teal-600
  )
);

@function theme-palette($palette, $tone: 'base') {
  @return map-get(map-get($theme-palettes, $palette), $tone);
}


/** Fonts **/
$theme-base-font-size: 18px;
$theme-desktop-base-font-size: 20px;

$theme-alpha-font-size: 1.22rem; // 22px / 18px
$theme-beta-font-size: 1rem;
$theme-gamma-font-size: 0.77rem; // 14px / 18px
$theme-delta-font-size: 0.55rem; // 10px / 18px

$theme-font-weight-bold: 700;
$theme-font-weight-regular: 400;

$theme-font-styles: (
  regular: (
    style: normal,
    weight: $theme-font-weight-regular
  ),
  italic: (
    style: italic,
    weight: $theme-font-weight-regular
  ),
  bold: (
    style: normal,
    weight: $theme-font-weight-bold
  )
);

@mixin alpha {
  font-size: $theme-alpha-font-size;
}

@mixin beta {
  font-size: $theme-beta-font-size;
}

@mixin gamma {
  font-size: $theme-gamma-font-size;
}

@mixin delta {
  font-size: $theme-delta-font-size;
}

@mixin theme-font-variation($font-style) {
  font-style: map-get(map-get($theme-font-styles, $font-style), style);
  font-weight: map-get(map-get($theme-font-styles, $font-style), weight);
}

$theme-font-family: "brandon-grotesque";

/** Spacing **/
$default-spacing: 1rem;

/** Card style **/
$card-shadow: 0 2px 5px 0;
$card-padding: $default-spacing / 2;

@mixin card {
  background-color: theme-palette(neutral, white);
  box-shadow: $card-shadow;
  box-sizing: border-box;
  padding: $card-padding;

}

/** Break Points **/
$theme-breakpoint-desktop: 600px;

/** Layout **/
$layout-max-width: 640px;

[layout=column] {
  max-width: $layout-max-width;
  margin-left: auto;
  margin-right: auto;
}

/**
  Theme styles
**/

$toolbar-height: 60px;

html,
body {
  line-height:1.5;
  font-size: $theme-base-font-size;
  font-family: $theme-font-family;

  @media screen and (min-width: $theme-breakpoint-desktop) {
    font-size: $theme-desktop-base-font-size;
  }

  h1 {
    @include alpha;
    line-height: 1.22;
  }

  h2 {
    @include beta;
    line-height: 1;
  }

  h3 {
    @include gamma;
    line-height: 0.77;
  }

  h4 {
    @include delta;
    line-height: 0.55;
  }

  p {
    line-height: 1.5;
  }

  a {
    color: theme-palette(accent-secondary, dark)
  }

  i {
    color: theme-palette(neutral, white)
  }
}

md-card {
  padding: $default-spacing / 2;
}

md-input-group {
  input {
    width: 100%;
  }
}

.md-button {
  white-space: normal;
}

md-toolbar {
  @include gamma;
  padding: 16px;
  height: $toolbar-height;
  transition: all .1s ease-in-out;
  background: theme-palette(neutral, white);
}
