$top-bar-layout-height: 62px

.TopBarLayout
  position: relative
  height: 100%

.TopBarLayout-header
  position: absolute
  z-index: 9000
  height: $top-bar-layout-height
  background-color: theme-palette(primary)
  color: white

  &.TopBarLayout-header--highlight
    background-color: theme-palette(accent-primary)
    color: theme-palette(primary, dark)

  &.TopBarLayout-header--clean
    background-color: white
    color: theme-palette(accent-secondary)

.TopBarLayout-content
  position: absolute
  top: $top-bar-layout-height
  overflow: scroll
  width: 100%
  height: calc(100% - #{$top-bar-layout-height})
